.card_padding {
  padding-left: 5%;
  padding-right: 5%;
}

p{
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.title_header{
  font-size: 72px;
  text-align: center;
  color: red;
  outline-color: white;
}
