.card_padding {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%
}

p{
  white-space: nowrap;
  overflow: hidden;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.title_header{
  font-size: 72px;
  text-align: center;
  color: red;
}

.check-container{
  padding-left: 5%;
  padding-right: 5%;
}
